{% extends 'base.html.twig' %}

{% block title %}Base index{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin-right: auto; /* 1 */
            margin-left:  auto; /* 1 */

            max-width: 960px; /* 2 */

            padding-right: 10px; /* 3 */
            padding-left:  10px; /* 3 */
        }
    </style>
    <div class="wrapper">
    <h1>Base index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bedrijfsnaam</th>
                <th>Logo</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for base in bases %}
            <tr>
                <td>{{ base.id }}</td>
                <td>{{ base.bedrijfsnaam }}</td>
                <td>{{ base.logo }}</td>
                <td>{{ base.updatedAt ? base.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('base_show', {'id': base.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('base_edit', {'id': base.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('base_new') }}">Create new</a>
    </div>
{% endblock %}
