{% extends 'base.html.twig' %}

{% block title %}Memo{% endblock %}

{% block body %}
    <h1>Memo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ memo.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ memo.content }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ memo.updatedAt ? memo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('memo_index') }}">back to list</a>

    <a href="{{ path('memo_edit', {'id': memo.id}) }}">edit</a>

    {{ include('memo/_delete_form.html.twig') }}
{% endblock %}
